.img-container {
    background-image: url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-upload {
    display: none;
}

.bg-img:hover .bg-img-upload {
    display: flex;
    cursor: pointer;
}

.inp {
    display: block;
    border: none;
    width: 100%;
    padding: 0px 13px;
}

.inp:focus {
    outline: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.read-only {
    pointer-events: none;
}